<!DOCTYPE html>
<html>
  <head>
    <title>Orgapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="head1">
      <h1>乙ページ</h1>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
